/* Improve ux on options/_subpage */
.improve-view {
  margin: 20px 25px;
}

.margin-top {
  margin-top: 20px !important;
}


.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

.container-light-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #e8a87c;
  -o-object-fit: cover;
  object-fit: cover;
}

.navbar-light-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 50vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.navbar-light-bold-link {
  margin-right: 10px;
  padding-right: 40px;
  padding-left: 40px;
  color: #747474;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.navbar-light-bold-link:hover {
  color: #000;
}

.image {
  margin-left: 60px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Untitled-design-1.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.section.no-svg {
  background-color: #85dcb8;
  background-image: none;
}

.div-block {
  overflow: visible;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph {
  max-width: 50vw;
}

.clickme-r {
  margin-right: 20px;
  margin-left: 0px;
  border-radius: 13px;
  background-color: #c38d9e;
  text-align: left;
}

.clickme-r:hover {
  background-color: #d6114f;
}

.image-3 {
  max-height: 40vh;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.layout-container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
}

.subscribe-section {
  position: relative;
  display: block;
  overflow: hidden;
  font-family: Montserrat, sans-serif;
}

.subscribe-section.cc-subscribe-form {
  padding-right: 0px;
  padding-left: 0px;
}

.subscribe-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  min-width: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 0px 85px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #85dcb8;
  color: #fff;
  text-align: center;
}

.subscribe-content-wrapper {
  position: relative;
  display: block;
  width: 940px;
  margin: 40px auto;
  font-family: Montserrat, sans-serif;
}

.subscribe-content-wrapper.cc-subscribe-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.footer-subheadline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 100;
}

.subscribe-form-decorative-line {
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: rgba(210, 210, 213, 0.3);
}

.subscribe-form-label {
  position: static;
  display: block;
  opacity: 0.6;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.subscribe-form-label.cc-subheadline {
  margin-right: 15px;
  margin-left: 15px;
  color: #333;
  font-weight: 600;
}

.subscribe-form-label.cc-contact-form-label {
  margin-bottom: 10px;
  color: #000;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-headline {
  margin-top: 15px;
  margin-bottom: 25px;
  color: #333;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

.form-block {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field-dark {
  width: auto;
  height: 54px;
  margin-bottom: 0px;
  padding: 18px 24px;
  border-color: #2f303e;
  border-radius: 0px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-field-dark.cc-subscribe-input {
  width: 350px;
  margin-right: 10px;
  background-color: hsla(0, 0%, 100%, 0.2);
  -webkit-transition: border 400ms ease;
  transition: border 400ms ease;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1.3px;
}

.text-field-dark.cc-subscribe-input:hover {
  border-color: hsla(0, 0%, 100%, 0.5);
}

.text-field-dark.cc-subscribe-input:active {
  border-color: hsla(0, 0%, 100%, 0.6);
}

.text-field-dark.cc-subscribe-input:focus {
  border-color: hsla(0, 0%, 100%, 0.5);
}

.white-button {
  position: relative;
  display: inline-block;
  padding: 18px 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom-style: none;
  border-radius: 0px;
  background-color: #e27d60;
  box-shadow: 0 2px 6px 0 rgba(29, 31, 46, 0.1);
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, box-shadow 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, box-shadow 400ms ease;
  color: #1d1f2e;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.white-button:hover {
  background-color: hsla(0, 0%, 98%, 0.9);
  box-shadow: 0 3px 8px 0 rgba(29, 31, 46, 0.15);
  opacity: 0.96;
  color: #161724;
}

.success-message {
  padding: 0px;
  background-color: transparent;
}

.success-message-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.newsletter-success-icon {
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
}

.newsletter-success-text {
  display: inline-block;
  line-height: 24px;
  text-align: left;
}

.error-message {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #a25f4b;
  color: #fff;
}

.team-simple-section {
  display: block;
  padding-bottom: 60px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-bottom: 1px solid #000;
  background-color: #e8a87c;
}

.centered-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1124px;
  min-height: 300px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
}

.centered-container.horizontal-flex {
  max-width: 1280px;
  min-height: 350px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.team-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #000;
  font-weight: 700;
  text-align: left;
}

.team-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.team-image-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.team-content {
  margin-top: 40px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.member-name {
  margin-top: 0px;
  color: #000;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.member-title {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 450px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url('../images/Untitled-design-1.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.image-4 {
  max-height: 33vh;
}

.heading-4 {
  text-align: center;
}

.paragraph-2 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.paragraph-3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.cards-section {
  height: auto;
  min-height: 90vh;
  padding-top: 20px;
  padding-bottom: 0px;
  background-color: #e8a87c;
  background-image: url('../images/Untitled-design-1.svg');
  background-position: 0px 0px;
  background-size: cover;
  font-family: Montserrat, sans-serif;
}

.cards-centered-container {
  max-width: 1124px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-heading {
  margin-bottom: 20px;
  color: #000;
  font-weight: 600;
}

.cards-paragraph-1 {
  margin-top: -1px;
  padding-top: 24px;
  margin-bottom: 24px;
  color: #000;
  text-align: center;
}

.cards-paragraph-2 {
  margin-bottom: 24px;
  color: #000;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.card-image {
  width: 286px;
  height: 286px;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-title {
  margin-top: 0px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.nav-menu-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  text-align: center;
}

.cards-section-2 {
  padding-top: 20px;
  padding-bottom: 100px;
  border-radius: 0px;
  background-image: url('../images/Untitled-design-1.svg');
  background-position: 0px 0px;
  background-size: cover;
  font-family: Montserrat, sans-serif;
}

.cards-centered-container-2 {
  max-width: 1124px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-heading-2 {
  color: #000;
  font-weight: 700;
}

.cards-grid-container-2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.db3-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-block-3 {
  display: block;
  max-height: none;
  margin-top: 0px;
  padding: 5px 20px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 10px;
  background-color: rgba(195, 141, 158, 0.8);
}

.list {
  padding-left: 20px;
}

.button {
  display: block;
  margin-bottom: 10px;
  border-radius: 13px;
  background-color: #e27d60;
  color: #333;
  font-weight: 600;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-5 {
  display: block;
  margin-bottom: 10px;
  padding-top: 10px;
}

.body {
  background-color: #e8a87c;
  background-image: url('../images/Untitled-design-1.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block-4 {
  margin-top: 60px;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.paragraph-7 {
  max-width: 800px;
}

.section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Untitled-design-1.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.heading-5 {
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
}

.layout-container-2 {
  width: 100%;
  max-width: 1140px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Montserrat, sans-serif;
}

.layout-container-2.cc-heading-wrap {
  margin-top: 20px;
  text-align: center;
}

.heading-contact-form {
  color: #000;
}

.paragraph-bigger {
  margin-bottom: 10px;
  margin-left: 10px;
  opacity: 1;
  color: #242424;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
}

.get-in-touch-form-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.get-in-touch-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.credentials-inputs-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact-name-field-wrap {
  width: 50%;
  padding-right: 10px;
}

.contact-form-field-label {
  color: #242424;
}

.contact-form-text-field {
  margin-bottom: 18px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-size: 14px;
  line-height: 26px;
}

.contact-form-text-field:hover {
  border-color: #e3e6eb;
}

.contact-form-text-field:active {
  border-color: #43464d;
}

.contact-form-text-field:focus {
  border-color: #43464d;
}

.contact-form-text-field::-webkit-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.contact-form-text-field:-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.contact-form-text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.contact-form-text-field::placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.contact-form-text-field.cc-contact-field {
  margin-bottom: 25px;
}

.contact-form-text-field.cc-input-textarea {
  height: 200px;
  padding-top: 12px;
}

.email-name-field-wrap {
  width: 50%;
  padding-left: 10px;
}

.contact-form-submit-button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.contact-form-submit-button:hover {
  background-color: #32343a;
  color: #fff;
}

.contact-form-submit-button:active {
  background-color: #43464d;
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #12b878;
}

.body-2 {
  background-image: url('../images/Untitled-design-1.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.paragraph-8 {
  max-width: 800px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  font-weight: 400;
  text-align: center;
}

.subscribe-content-wrapper-2 {
  position: relative;
  display: block;
  width: 940px;
  margin: 40px auto;
  font-family: Montserrat, sans-serif;
}

.contact-form-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 60px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(210, 210, 213, 0.5);
  border-radius: 10px;
  background-color: #e8a87c;
}

.form-wrap {
  width: 65%;
  margin-right: 60px;
  padding-right: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-right: 1px solid rgba(210, 210, 213, 0.3);
}

.message-form {
  margin-bottom: 0px;
}

.field-label {
  color: #747474;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-field {
  display: block;
  height: 54px;
  margin-bottom: 20px;
  padding: 18px 24px;
  border: 1px solid #e5e5e7;
  border-radius: 0px;
  -webkit-transition: border 400ms ease, color 400ms ease;
  transition: border 400ms ease, color 400ms ease;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  cursor: pointer;
}

.text-field:hover {
  border-color: rgba(29, 31, 46, 0.5);
}

.text-field:active {
  border-color: #1d1f2e;
}

.text-field:focus {
  border-color: #1d1f2e;
}

.text-field::-webkit-input-placeholder {
  color: rgba(29, 31, 46, 0.3);
}

.text-field:-ms-input-placeholder {
  color: rgba(29, 31, 46, 0.3);
}

.text-field::-ms-input-placeholder {
  color: rgba(29, 31, 46, 0.3);
}

.text-field::placeholder {
  color: rgba(29, 31, 46, 0.3);
}

.text-field.cc-textarea {
  height: 100px;
}

.dark-button {
  position: relative;
  display: inline-block;
  padding: 18px 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0px;
  background-color: #000;
  box-shadow: none;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, box-shadow 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, box-shadow 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.dark-button:hover {
  background-color: #2f3247;
  box-shadow: 0 3px 8px 0 rgba(29, 31, 46, 0.15);
  opacity: 0.96;
  color: #fff;
}

.contact-form-success-message {
  border: 1px solid #ececed;
  background-color: #fafafa;
}

.contact-form-success-icon {
  margin-top: 0px;
  margin-bottom: 10px;
}

.contact-form-info {
  margin-bottom: 40px;
}

.office-headline {
  margin-bottom: 10px;
  color: #000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.contact-form-paragraph {
  color: #747474;
}

.contact-form-link {
  color: #000;
  font-size: 18px;
  line-height: 30px;
}

.contact-form-link:hover {
  color: #747474;
}

.body-3 {
  background-color: #85dcb8;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing-section {
  /* margin: -24px; */
  padding-top: 0px;
  background-color: #e8a87c;
  background-position: 0px 0px;
  background-size: cover;
  font-family: Montserrat, sans-serif;
}

.heading-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.pricing-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  font-weight: 600;
  text-align: center;
}

.container-pricing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.pricing-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.33333333%;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  border: 1px solid #f7f7f7;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.pricing-block:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.14);
}

.pricing-info {
  padding: 50px 40px 0px;
}

.plan-h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.plan-h3.cc-pricing {
  width: 100%;
  color: #333;
  font-size: 32px;
  font-weight: 400;
}

.price-block {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.price {
  color: #000;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
}

.currency {
  margin-top: 0px;
  margin-left: 8px;
  color: #333;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.plan-small-text {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.plan-small-text.cc-light {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #333;
}

.pricing-block-separator {
  width: 100%;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #c4c4c4;
}

.list-item {
  text-align: center;
}

.list-2 {
  max-width: 300px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  padding-left: 0px;
  text-align: center;
  list-style-type: lower-roman;
}

.heading-6 {
  text-align: center;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.heading-7 {
  font-weight: 500;
}

.layout-container-3 {
  width: 85vw;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  background-image: url('../images/Untitled-design-1.svg');
  background-position: 0px 0px;
  background-size: cover;
  font-family: Montserrat, sans-serif;
}

.section-heading-wrap {
  margin-top: 20px;
  margin-bottom: 80px;
  text-align: center;
}

.about-services-heading {
  margin-top: 0px;
  padding-top: 24px;
  color: #000;
}

.our-services-grid {
  margin-bottom: 120px;
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  -ms-grid-rows: auto 60px auto;
  grid-template-areas: ". . ."
    ". . .";
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.service-icon {
  display: inline-block;
  margin-bottom: 30px;
  margin-left: 10px;
}

.paragraph-light {
  margin-right: 10px;
  margin-left: 10px;
  opacity: 0.6;
  color: #242424;
  text-align: left;
}

.body-4 {
  background-color: #85dcb8;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #85dcb8;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 100vw;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .container-light-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navbar-light-brand {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .navbar-light-bold-link {
    color: #fff;
  }

  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: left;
  }

  .image {
    max-height: 10vh;
    min-height: 0vh;
    margin-left: 0px;
  }

  .section {
    background-image: url('../images/Untitled-design-1.svg');
    background-position: 0px 0px;
    background-size: cover;
  }

  .div-block {
    padding-left: 20px;
  }

  .paragraph {
    color: #000;
  }

  .heading {
    font-weight: 700;
  }

  .subscribe-section.cc-subscribe-form {
    padding-right: 0px;
    padding-left: 0px;
  }

  .subscribe-container {
    display: block;
    max-width: none;
    min-width: auto;
    padding-right: 50px;
    padding-left: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .subscribe-content-wrapper {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }

  .subscribe-content-wrapper.cc-subscribe-form {
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .error-message {
    width: auto;
  }

  .centered-container {
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .centered-container.horizontal-flex {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    background-color: #e8a87c;
  }

  .team-heading {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .team-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .container-2 {
    max-width: 45vw;
  }

  .section-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-image: url('../images/Untitled-design-1.svg');
    background-position: 0px 0px;
    background-size: cover;
  }

  .cards-centered-container {
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .cards-grid-container {
    grid-column-gap: 20px;
  }

  .card-title {
    margin-top: 0px;
    color: #000;
  }

  .nav-menu-3 {
    background-color: #c38d9e;
  }

  .cards-centered-container-2 {
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .cards-grid-container-2 {
    grid-column-gap: 20px;
  }

  .div-block-3 {
    margin-top: 20px;
    padding-top: 5px;
  }

  .list {
    padding-left: 20px;
    color: #333;
  }

  .paragraph-bigger {
    margin: 0 10px;
  }

  .get-in-touch-form {
    text-align: left;
  }

  .credentials-inputs-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .contact-name-field-wrap {
    width: 100%;
    padding-right: 0px;
  }

  .email-name-field-wrap {
    width: 100%;
    padding-left: 0px;
  }

  .contact-form-submit-button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .paragraph-8 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .subscribe-content-wrapper-2 {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }

  .contact-form-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .form-wrap {
    width: auto;
    margin-right: 0px;
    margin-bottom: 60px;
    padding-right: 0px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(210, 210, 213, 0.3);
    border-right-style: none;
    text-align: center;
  }

  .contact-details-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .contact-form-paragraph {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .container-pricing {
    margin-top: -10px;
    margin-bottom: -10px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }

  .pricing-block {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .our-services-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: ". ."
      ". ."
      ". .";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    text-align: center;
  }

  .service-icon {
    display: inline-block;
    margin-left: 0px;
  }

  .paragraph-light {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .container-light-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .div-block {
    min-width: 50vw;
    padding-left: 11px;
  }

  .heading {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }

  .image-3 {
    max-width: 50vw;
  }

  .layout-container {
    text-align: center;
  }

  .subscribe-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .subscribe-content-wrapper {
    padding-right: 4%;
    padding-left: 4%;
  }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .text-field-dark.cc-subscribe-input {
    width: auto;
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: center;
  }

  .error-message {
    font-size: 14px;
    line-height: 22px;
  }

  .centered-container.horizontal-flex {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .team-heading {
    text-align: center;
  }

  .cards-section {
    padding: 40px 20px;
  }

  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .card-image {
    display: inline-block;
  }

  .icon-2 {
    text-align: right;
  }

  .cards-section-2 {
    padding: 40px 20px;
  }

  .cards-grid-container-2 {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .div-block-3 {
    max-height: none;
  }

  .layout-container-2 {
    text-align: center;
  }

  .layout-container-2.cc-heading-wrap {
    margin-bottom: 50px;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .get-in-touch-form-wrap {
    width: 90%;
    max-width: 470px;
  }

  .contact-form-text-field.cc-contact-field {
    text-align: left;
  }

  .contact-form-text-field.cc-input-textarea {
    text-align: left;
  }

  .subscribe-content-wrapper-2 {
    padding-right: 4%;
    padding-left: 4%;
  }

  .contact-form-wrap {
    padding: 40px;
  }

  .contact-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .text-field {
    width: auto;
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: center;
  }

  .text-field::-webkit-input-placeholder {
    text-align: center;
  }

  .text-field:-ms-input-placeholder {
    text-align: center;
  }

  .text-field::-ms-input-placeholder {
    text-align: center;
  }

  .text-field::placeholder {
    text-align: center;
  }

  .text-field.cc-textarea {
    margin-bottom: 20px;
  }

  .contact-details-wrap {
    margin-bottom: -30px;
  }

  .div-block-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .layout-container-3 {
    text-align: center;
  }

  .our-services-grid {
    grid-row-gap: 60px;
    grid-template-areas: "."
      "."
      "."
      "."
      "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 60px auto 60px auto 60px auto 60px auto 60px auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .image {
    position: static;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .section {
    border-bottom: 0px solid #e8a87c;
  }

  .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .paragraph {
    max-width: none;
    text-align: center;
  }

  .clickme-r {
    padding-left: 18px;
  }

  .heading {
    text-align: center;
  }

  .image-3 {
    display: none;
  }

  .subscribe-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .subscribe-content-wrapper {
    padding-right: 4%;
    padding-left: 4%;
  }

  .subscribe-form-label.cc-contact-form-label {
    font-size: 18px;
    line-height: 24px;
  }

  .text-field-dark.cc-subscribe-input {
    color: #000;
  }

  .team-block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .image-4 {
    max-height: none;
    max-width: 50vw;
  }

  .heading-4 {
    text-align: center;
  }

  .paragraph-2 {
    text-align: center;
  }

  .paragraph-3 {
    text-align: center;
  }

  .cards-centered-container {
    text-align: left;
  }

  .cards-heading {
    text-align: center;
  }

  .cards-paragraph-1 {
    font-weight: 500;
    text-align: center;
  }

  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .card-image {
    display: block;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .card-title {
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .icon-2 {
    text-align: right;
  }

  .cards-centered-container-2 {
    text-align: left;
  }

  .cards-heading-2 {
    font-weight: 700;
    text-align: center;
  }

  .cards-grid-container-2 {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .div-block-3 {
    margin-top: 0px;
  }

  .button {
    background-color: #e27d60;
    color: #333;
    font-weight: 600;
  }

  .image-5 {
    margin-top: 10px;
  }

  .paragraph-4 {
    display: none;
  }

  .paragraph-5 {
    display: none;
  }

  .get-in-touch-form-wrap {
    width: 100%;
    max-width: none;
    margin-right: auto;
    margin-left: auto;
  }

  .get-in-touch-form {
    margin-right: 10px;
    margin-left: 10px;
  }

  .subscribe-content-wrapper-2 {
    padding-right: 4%;
    padding-left: 4%;
  }

  .contact-form-wrap {
    padding: 40px 30px;
  }

  .contact-details-wrap {
    margin-bottom: -30px;
  }

  .div-block-5 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }


  .body-4 {
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: repeat;
  }
}

#w-node-d1d17fb3-aae8-6214-4792-428f8779e007-e5a75e8c {
  -ms-grid-column-align: auto;
  justify-self: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-d1d17fb3-aae8-6214-4792-428f8779e00f-e5a75e8c {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_93a9a82a-291c-5093-dd3e-ab7ef79651f6-f1d48648 {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_8ea1146d-fbbe-858d-341b-07cd9f2b0db4-889c99da {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_8ea1146d-fbbe-858d-341b-07cd9f2b0dba-889c99da {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_8ea1146d-fbbe-858d-341b-07cd9f2b0dc0-889c99da {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_8ea1146d-fbbe-858d-341b-07cd9f2b0dc6-889c99da {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-_8ea1146d-fbbe-858d-341b-07cd9f2b0dcc-889c99da {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-_8ea1146d-fbbe-858d-341b-07cd9f2b0dd3-889c99da {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 991px) {
  #w-node-_8ea1146d-fbbe-858d-341b-07cd9f2b0dc0-889c99da {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-_8ea1146d-fbbe-858d-341b-07cd9f2b0dc6-889c99da {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }

  #w-node-_8ea1146d-fbbe-858d-341b-07cd9f2b0dcc-889c99da {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-_8ea1146d-fbbe-858d-341b-07cd9f2b0dd3-889c99da {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 767px) {
  #w-node-d1d17fb3-aae8-6214-4792-428f8779e011-e5a75e8c {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d1d17fb3-aae8-6214-4792-428f8779e013-e5a75e8c {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_914ba35f-bf80-e919-11e9-081c61f22857-d7c004dc {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_8ea1146d-fbbe-858d-341b-07cd9f2b0dba-889c99da {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-_8ea1146d-fbbe-858d-341b-07cd9f2b0dc0-889c99da {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }

  #w-node-_8ea1146d-fbbe-858d-341b-07cd9f2b0dc6-889c99da {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
  }

  #w-node-_8ea1146d-fbbe-858d-341b-07cd9f2b0dcc-889c99da {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-_8ea1146d-fbbe-858d-341b-07cd9f2b0dd3-889c99da {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }
}

@media screen and (max-width: 479px) {
  #w-node-d1d17fb3-aae8-6214-4792-428f8779e007-e5a75e8c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d1d17fb3-aae8-6214-4792-428f8779e00f-e5a75e8c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_914ba35f-bf80-e919-11e9-081c61f22849-d7c004dc {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_914ba35f-bf80-e919-11e9-081c61f2284f-d7c004dc {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_914ba35f-bf80-e919-11e9-081c61f22855-d7c004dc {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

